<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>333529235331-ifg7ddunuuv2ll6hht8mf9hgdbghppdg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.333529235331-ifg7ddunuuv2ll6hht8mf9hgdbghppdg</string>
	<key>API_KEY</key>
	<string>AIzaSyBhaWhsgpHMFjLcy4NqMsAzVLWSifYXCIk</string>
	<key>GCM_SENDER_ID</key>
	<string>333529235331</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Komigen.Messenger</string>
	<key>PROJECT_ID</key>
	<string>messenger-63089</string>
	<key>STORAGE_BUCKET</key>
	<string>messenger-63089.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:333529235331:ios:4477af96e223d20db880b6</string>
</dict>
</plist>